.whole-SKL{
	/*border:1px solid #ccc;*/
}
header{
	/*border:1px solid #f00;*/
	/*height: 76px;*/
	background-color: #e2231a;
	position: relative;
	width: 100%;
	z-index: 1000;
}

.content{
	/*border: 1px solid #f00;*/
	padding-top: 0px;
	background-color: #f0f0ef;
}
header>.container{
	height: 76px; 
}
@media only screen and (min-width: 1200px) and (max-width:1920px) {
	header>.container{
		width: 1200px;
	}
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	header{
		position: relative;
	}
	.content{
		/*border: 1px solid #f00;*/
		padding-top: 0px;
	}
	header.active{
		position: fixed;
	}
	.content.active{
		padding-top: 76px;
	}
}
.breadcrumb-block{
	padding: 0px;
    position: relative;
    width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    min-height: 50px;
}
.breadcrumb{
	background-color: transparent;
	width: 100%;
	max-width: 1200px;
	margin: auto; 
	padding: 15px 0;
}
.breadcrumb a,
.breadcrumb span{
	font-size: 12px;
	letter-spacing: 2.1px;
	color: #000;
	text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width:1200px) {
	.breadcrumb-block{
		width: 970px;
		padding: 0px;
	}
}
@media only screen and (min-width: 320px) and (max-width:1023px) {
	.breadcrumb-block{
		width: 100%;
		padding: 0px 40px;
	}
	
}
@media only screen and (min-width: 320px) and (max-width:992px) {
	.breadcrumb-block{
		width: 750px;
		padding: 0 20px;
		min-height: auto;
	}
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.breadcrumb-block{
		width: 100%;
	}
	.breadcrumb {
	    padding: 12px 35px 12px 0;
	}

}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.breadcrumb-block{
		width: 100%;
		padding: 0 10px;
		background-color: #fff;
	}
	.breadcrumb {
	    padding: 12px 35px 0px 0;
	}
}

.Index-content{
	/*border: 1px solid #00f;*/
	/*height: 3000px;*/
	/*background-color: #f0f0ef;*/
	padding: 0px 0 80px 0;
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.Index-content {
	    background-color: #fff;
	}
	.Index-content.index-bg{
	    background-color: transparent;
	}
}
.Index-slider{
	/*border: 1px solid #00f;*/
	min-height: 422px;
	background-color: #e9e9e9;
}
.Index-slider .container{
	padding: 0;
}
.container{
	/*border:1px solid #00f;*/
}
.row{
	/*border: 1px solid #0ff;*/
}
.container-fluid{
	/*border: 1px solid #ac0;*/
}
.navbar-default{
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	border: 0;
}
.nav-in-right-ul{
	/*border: 1px solid #0f0;*/
	position: absolute;
	right: 0;
	top: 38px;
	font-size: 0;
}
.nav-in-right-li{
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	text-align: right;
	color: #ffffff;
	padding:0px;
}

.nav-in-right-li .nav-in-right-li-inside{
	/*border-left: 1px solid #fff;*/
	padding: 6px 12px 10px 12px; 
}
.nav-in-right-li .nav-in-right-li-inside.open{
	background-color: #fff;
}
.nav-in-right-li:first-child .nav-in-right-li-inside{
	border-left: 0;
	padding: 6px 0px 10px 30px; 
}
.nav-in-right-li:nth-child(2) .nav-in-right-li-inside{
	padding: 6px 0px 10px 30px; 
}
.nav-in-right-li:last-child .nav-in-right-li-inside{
	padding-right: 0;
}
.nav-in-right-li:last-child .nav-in-right-li-inside>a{
	border-right: 0;
    padding-right: 0;
}
.nav-in-right-li .nav-in-right-li-inside>a{
 	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
  	color: #ffffff;
  	padding: 0 12px 0 5px;
  	text-decoration: none;
  	border-right: 1px solid #fff;
}
.nav-in-right-li .nav-in-right-li-inside.open>a{
	color: #4a4a4a;
	font-weight: 500;
}
.nav-in-right-li:first-child .nav-in-right-li-inside>a:before{
	content: '';
	width: 18px;
	height: 18px;
	background-size: cover;
	background-position: center;
	background-image: url('../img/menu-1.png');
	position: absolute;
	left: 10px;
	top: 8px;
}
.nav-in-right-li:nth-child(2) .nav-in-right-li-inside>a:before{
	content: '';
	width: 18px;
	height: 18px;
	background-size: cover;
	background-position: center;
	background-image: url('../img/menu-2.png');
	position: absolute;
	left: 10px;
	top: 8px;
}
.nav-in-right-li:first-child .nav-in-right-li-inside.open>a:before{
	background-image: url('../img/menu-1-click.png');
}
.nav-in-right-li:nth-child(2) .nav-in-right-li-inside.open>a:before{
	background-image: url('../img/menu-2-click.png');
}


.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu{
	width: 229px;
	/*border: 1px solid #00f;*/
	/*display: block;*/
	border-radius: 0; 
	padding: 20px 12px 10px 12px;
	top: 36px;
	border: 0;
	box-shadow: 0 9px 7px 0 rgba(0, 0, 0, 0.21);
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-topp-txt{
	padding: 0 5px;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-topp-txt p{
	font-size: 15px;
	line-height: 1.53;
  	letter-spacing: 1px;
  	text-align: center;
 	color: #e2231a;
 	font-weight: 800;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock{
	padding: 0;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li{
	color: #000;
	padding: 10px 30px 10px 15px;
	border-top: 1px solid #d6d6d6; 
	position: relative;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li:first-child{
	border-top: 0; 
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li p{
	margin-bottom: 0;
	font-size: 16px;
  	letter-spacing: 2.3px;
  	text-align: left;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li>a{
	color: #000;
	font-size: 16px;
  	letter-spacing: 2.3px;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a.cancel{
	position: absolute;
	right: 10px;
	top: 9px;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a.cancel:hover{
	background-image: none;
	background-color: transparent;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a img{
	width: 16px;
	height: 16px;
	
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt{
	text-align: center;
	padding-top: 40px;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt p{
	color: #000;
	font-size: 12px;
	letter-spacing: 1px;
}
.nav-in-right-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt p span{
	margin: 0 6px; 
}





.nav-before-login-ul{
	/*border: 1px solid #0f0;*/
	position: absolute;
	right: 0;
	top: 7px;
	font-size: 0;
}

@media only screen and (min-width: 320px) and (max-width:1023px) {
	.nav-before-login-ul{
		display: none;
	}
}
.nav-before-login-li{
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
	text-align: right;
	color: #ffffff;
	padding:0px;
}

.nav-before-login-li .nav-in-right-li-inside{
	/*border-left: 1px solid #fff;*/
	padding: 6px 12px 10px 12px; 
}
.nav-before-login-li .nav-in-right-li-inside.open{
	background-color: #fff;
}
.nav-before-login-li:first-child .nav-in-right-li-inside{
	border-left: 0;
	padding: 6px 0px 10px 30px; 
}
.nav-before-login-li:last-child .nav-in-right-li-inside{
	padding-right: 0;
}
.nav-before-login-li:last-child .nav-in-right-li-inside>a{
    padding-right: 0;
    border-right: 0; 
}
.nav-before-login-li .nav-in-right-li-inside>a{
 	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
  	color: #ffffff;
  	padding: 0 12px 0 5px;
  	text-decoration: none;
  	border-right: 1px solid #fff;
}
.nav-before-login-li .nav-in-right-li-inside.open>a{
	color: #4a4a4a;
	font-weight: 500;
}
.nav-before-login-li:first-child .nav-in-right-li-inside>a:before{
	content: '';
	width: 18px;
	height: 18px;
	background-size: cover;
	background-position: center;
	background-image: url('../img/menu-2.png');
	position: absolute;
	left: 10px;
	top: 8px;
}

.nav-before-login-li:first-child .nav-in-right-li-inside.open>a:before{
	background-image: url('../img/menu-2-click.png');
}



.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu{
	width: 229px;
	/*border: 1px solid #00f;*/
	/*display: block;*/
	border-radius: 0; 
	padding: 20px 12px 10px 12px;
	top: 30px;
	border: 0;
	box-shadow: 0 9px 7px 0 rgba(0, 0, 0, 0.21);
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-topp-txt{
	padding: 0 5px;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-topp-txt p{
	font-size: 15px;
	line-height: 1.53;
  	letter-spacing: 1px;
  	text-align: center;
 	color: #e2231a;
 	font-weight: 800;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock{
	padding: 0;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li{
	color: #000;
	padding: 10px 30px 10px 15px;
	border-top: 1px solid #d6d6d6; 
	position: relative;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li:first-child{
	border-top: 0; 
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li p{
	margin-bottom: 0;
	font-size: 16px;
  	letter-spacing: 2.3px;
  	text-align: left;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li>a{
	color: #000;
	font-size: 16px;
  	letter-spacing: 2.3px;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a.cancel{
	position: absolute;
	right: 10px;
	top: 9px;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a.cancel:hover{
	background-image: none;
	background-color: transparent;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu ul.listitemblock li a img{
	width: 16px;
	height: 16px;
	
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt{
	text-align: center;
	padding-top: 40px;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt p{
	color: #000;
	font-size: 12px;
	letter-spacing: 1px;
}
.nav-before-login-li .nav-in-right-li-inside .nav-in-right-li-inside-menu .nav-in-right-li-txt p span{
	margin: 0 6px; 
}



.skl-nav{
	margin-bottom: 0;
}
.skl-nav .skl-nav-container{
	height: 65px;
}
.skl-nav .skl-nav-container .navbar-header{
	/*border: 1px solid #00f;*/
}
.skl-nav .skl-nav-container .navbar-header .mobile-menu-left{
	position: absolute;
	left: 15px;
	top: 18px;
	width: 31px;
	height: 31px;
	display: none;
}
.skl-nav .skl-nav-container .navbar-header .mobile-menu-left img{
	width: 100%;
}
.skl-nav .skl-nav-container .navbar-header .navbar-brand{
	width: 285px;
	height: 53px;
	padding: 0;
	top: 20px;
	position: relative;
}
.skl-nav .skl-nav-container .navbar-header .navbar-brand img{
	width: 173px;
}
.skl-nav .skl-nav-container .navbar-header .brand-txt{
	border-left: 2px solid #fff; 
	position: absolute;
	/*left: 200px;*/
	right: 0;
	top: 0px;
	padding: 0 0 0 8px;
}
.skl-nav .skl-nav-container .navbar-header .brand-txt p{
	font-size: 16px;
  	font-weight: 800;
	letter-spacing: 2.4px;
  	color: #ffffff;
  	margin: 0; 
  	line-height: 18px;
}
.skl-nav .skl-nav-container .navbar-header .mobile-menu-right{
	position: absolute;
	right: 15px;
	top: 25px;
	width: 31px;
	height: 31px;
	display: none;
}
.skl-nav .skl-nav-container .navbar-header .mobile-menu-right img{
	width: 100%;
}
.skl-nav .skl-nav-container .nav-login{
	
}
.skl-nav .skl-nav-container .nav-login .cus-login-ul{

}
.skl-nav .skl-nav-container .nav-login .cus-login-ul li{
	padding: 13px 0px 0 0;
}
.skl-nav .skl-nav-container .nav-login .cus-login-ul li a,
.skl-nav .skl-nav-container .nav-login .cus-login-ul li p{
	padding: 0px 15px;
	border-left: 1px solid #fff;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: right;
	color: #ffffff;
	font-weight: 800;
	margin-bottom: 0;
}
.skl-nav .skl-nav-container .nav-login .cus-login-ul li p{
	border-left: 0;
}

footer{
	/*border: 1px solid #f00;*/
	padding: 35px 0;
	background-color: #e2231a;
}
footer .container {
	position: relative;
}
footer .container .row .footer-detail-link{
	/*border: 1px solid #0f0;*/
	padding: 3px 0;
	color: #fff;
}
footer .container .row .footer-detail-link a{
	color: #fff;
	font-size: 14px;
	line-height: 2.07;
  	letter-spacing: 0.9px;
}
footer .container .row .footer-text{
	/*border: 1px solid #0f0;*/
	padding: 3px 0;
}
footer .container .row .footer-text p{
	color: #fff;
	font-size: 14px;
	line-height: 2.07;
  	letter-spacing: 0.9px;
}
@media only screen and (min-width: 320px) and (max-width:1023px) {
	footer .container .row .footer-text{
		display: none;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	footer .container .row .footer-detail-link{
		padding: 3px 35px 3px 0;
	}
}

.ga-scroll-top-btn{
	position: fixed !important;
	right: 130px;
	bottom: 50px;
	width: 35px;
	height: 35px;
	/*border: 3px solid #00f;*/
	z-index: 50;
	background-color: transparent;
}
.ga-scroll-top-btn a{
	display: block;
}
.ga-scroll-top-btn a img{
	width: 35px;
	height: 35px;
}
.ga-scroll-top-btn:after{
	display: none;
}
@media only screen and (min-width: 320px) and (max-width:1024px) {
	.ga-scroll-top-btn{
		right: 35px;
		bottom: 70px;
	}
}
@media only screen and (min-width: 320px) and (max-width:1023px) {
	.ga-scroll-top-btn{
		right: 35px;
		bottom: 30px;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.ga-scroll-top-btn{
		right: 10px;
		bottom: 60px;
		
	}
}
@media only screen and (min-width: 320px) and (max-width:1023px) {
	.skl-nav .skl-nav-container .navbar-header .navbar-brand{
		position: absolute;
		top: 18px;
		left: 0;
		right: 0;
		margin: auto;
		width: 260px;
	}
	.skl-nav .skl-nav-container .navbar-header .navbar-brand img{
		width: 153px;
	}
	.skl-nav .skl-nav-container .navbar-header .mobile-menu-left{
		display: block;
	}
	.skl-nav .skl-nav-container .navbar-header .mobile-menu-right{
		display: block;
	}
	.skl-nav .skl-nav-container .nav-login{
		display: none;
	}
	.skl-nav .skl-nav-container .nav-in-right-ul{
		display: none;
	}
	.content .Index-content .container-fluid .container .row .right-menu{
		display: none;
	}
	footer .container .row{
		margin-left: 0px;
		margin-right: 0px;
	}

}
@media only screen and (min-width: 320px) and (max-width:767px) {
	.skl-nav .skl-nav-container .navbar-header .navbar-brand {
	    width: 153px;
	}
	.skl-nav .skl-nav-container .brand-txt{
		display: none;
	}
}


.Index-content .col-md-9.left-content{
	/*border: 1px solid #00f;*/
	padding-left: 0;
	padding-right: 8px;
}
.Index-content .col-md-3.right-menu{
	/*border: 1px solid #00f;*/
	padding-left: 50px;
	padding-right: 0;
}
.Index-content .col-md-9.mid-content{
	padding: 0;
	margin: auto;
	float: none;
	width: 892px;
}
.Index-content .col-md-9.skl-60-mid-content{
	padding: 0;
	margin: auto;
	float: none;
	width: 892px;
}
@media only screen and (min-width: 1024px) and (max-width:1199px) {
	.Index-content .col-md-3.right-menu {
	    padding-left: 30px;
	    padding-right: 0;
	}
}
.Index-content .col-md-8.before-left-content{
	/*border: 1px solid #00f;*/
	padding-left: 15px;
	padding-right: 20px;
	margin-top: 33px;
}
.Index-content .col-md-4.before-right-menu{
	/*border: 1px solid #00f;*/
	padding-left: 50px;
	padding-right: 35px;
	margin-top: 33px;
}
.Index-content .col-md-8.before-left-content-down{
	padding-left: 15px;
	padding-right: 20px;
}

@media only screen and (min-width: 1024px) and (max-width:1199px) {
	.Index-content .col-md-8.before-left-content{
		/*border: 1px solid #00f;*/
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 33px;
	}
	.Index-content .col-md-4.before-right-menu{
		/*border: 1px solid #00f;*/
		padding-left: 30px;
		padding-right: 0px;
		margin-top: 33px;
	}
	.Index-content .col-md-8.before-left-content-down{
		padding-left: 15px;
		padding-right: 0px;
	}
}
@media only screen and (min-width: 320px) and (max-width:1023px) {
	
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.Index-content .col-md-8.before-left-content{
		margin-top: 15px;
		padding-left: 18px;
		padding-right: 18px;
		height: auto;
	}
	.Index-content .col-md-4.before-right-menu{
		padding-left: 18px;
		padding-right: 18px;
	}
}
@media only screen and (min-width: 320px) and (max-width:767px) {
	.Index-content .col-md-8.before-left-content{
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.Index-content .col-md-4.before-right-menu{
		padding-left: 18px;
		padding-right: 18px;
	}
}
@media only screen and (min-width: 1200px) and (max-width:1920px) {
	.Index-content>.container-fluid>.container{
		width: 1200px;
		/*padding: 0;*/
	}
}
.menu-title{
	position: relative;
	text-align: left;
	/*overflow-y: scroll;
	-webkit-overflow-scrolling: touch;*/
}
.menu-title a.rwd-menu-rightcancel-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	display: none;
}
.menu-title a.menu-right.rwd-menu-rightcancel-btn{
	right: -40px;
}
.menu-title a.rwd-menu-rightcancel-btn img{
	width: 23px;
	height: 23px;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-title a.rwd-menu-rightcancel-btn{
		display: inline-block;
		right: 20px;
    	top: 20px;
    	z-index: 10;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.menu-title a.rwd-menu-rightcancel-btn{
		display: inline-block;
		right: 20px;
    	top: 20px;
	}
	.menu-title a.menu-right.rwd-menu-rightcancel-btn{
		right: 20px;
	}
}
.menu-aside-block{
	position: relative;
}
.menu-aside-block a.rwd-menu-rightcancel-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	display: none;
}
.menu-aside-block a.rwd-menu-rightcancel-btn img{
	width: 23px;
	height: 23px;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-aside-block a.rwd-menu-rightcancel-btn{
		display: inline-block;
		right: 0px;
    	top: 20px;
    	z-index: 10;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.menu-aside-block a.rwd-menu-rightcancel-btn{
		display: inline-block;
		right: 20px;
    	top: 20px;
	}
}


.rwd-immediacontact .index-title{
	/*display: inline-block;*/
}
.menu-aside-block .first-block{
	background-color: #ffffff;
	margin-bottom: 30px;
}
.menu-aside-block .second-block{
	background-color: #ffffff;
	padding: 30px 0px;
}


.menu-aside-block .first-block .menu-personal-hello{
	padding-top: 30px;
	display: none;

}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-aside-block .first-block .menu-personal-hello{
		display: block;
	}
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-pho{
	width: 70px;
	height: 70px;
	margin: 0 auto 15px auto;
	/*border: 1px solid #00f;*/
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-pho img{
	width: 100%;
	max-width: 70px;
	max-height: 70px; 
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt{
	width: 260px;
	margin: auto;
	margin-bottom: 10px;
	font-size: 0;
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt .hellotxt{
	display: inline-block;
	vertical-align: top;
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt .hellotxt p{
	font-size: 21px;
	letter-spacing: 2.6px;
	color: #000;
	margin-bottom: 0;
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt .logout-block{
	display: inline-block;
	vertical-align: top;
	background-color: #e2231a;
	border-radius: 80px;
	position: relative;
	width: 80px;
	height: 27px;
	margin-left: 48px;
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt .logout-block p{
	margin-bottom: 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2.4px;
	line-height: 25px;
	padding-left: 15px;
	text-align: left;
}
.menu-aside-block .first-block .menu-personal-hello .personal-hello-txt .logout-block span.logout-circle{
	position: absolute;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: #fff;
	right: 2px;
	top: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.05);
	border: solid 0.5px rgba(0, 0, 0, 0.1);
}


.menu-aside-block .first-block .menu-title{
	background-color: #e2231a;
	padding: 0 25px;
}
.menu-aside-block .first-block .menu-title a{
	color: #fff;
	padding: 18px 0;
	display: block;
	font-size: 16px;
	letter-spacing: 2.3px;
	text-decoration: none;
}
.menu-aside-block .first-block .menu-title p{
	color: #fff;
	padding: 18px 0;
	display: block;
	font-size: 16px;
	letter-spacing: 2.3px;
	margin-bottom: 0;
}
.menu-itemblock .menu-itemblock-ul{
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li{
	margin-top: 0;
    border-radius: 0;
    border: 0;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock{
	padding: 0;
	border-top: 1px solid #ccc;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock h4{
	padding: 0;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a{
	display: block;
	padding: 18px 35px 18px 25px;
	background-color: #fff;
	font-size: 16px;
    letter-spacing: 2.3px;
    text-decoration: none;
    position: relative;
    color: #000;
    text-align: left;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a[aria-expanded="true"]{
	background-color: #7b868c;
	border: 1px solid #7b868c;
	color: #fff;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a[aria-expanded="true"]:after{
	content: '';
	background-image: url('../img/whitearrowtoup.png');
	width: 14px;
	height: 8px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 24px;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a[aria-expanded="false"]:after{
	content: '';
	background-image: url('../img/redarrowtodown.png');
	width: 14px;
	height: 8px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 24px;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a.none-nothing:after{
	display: none;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock{
	background-color: #fcfad1;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul{
	padding-left: 28px;
	text-align: left;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul .menu-sub-ul-li{
	font-size: 16px;
	letter-spacing: 2.6px;
	color: #000000;
	margin-bottom: 15px;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul .menu-sub-ul-li a{
	font-size: 16px;
	letter-spacing: 2.6px;
	color: #000000;
	margin-bottom: 15px;
	text-decoration: none;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul .menu-sub-ul-li.active{
	color: #e2231a;
	position: relative;
}
.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul .menu-sub-ul-li.active a{
	color: #e2231a;
}
/*.menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock .menu-sub-ul .menu-sub-ul-li.active:before{
	content: '';
    border-left: 4px solid #e2231a;
    position: absolute;
    left: -12px;
    height: 14px;
    top: 4px;
}*/

.menu-myfavorite{
	/*display: none;*/
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-myfavorite{
		display: block;
	}
	.menu-aside-block {
	    margin: 0 60px;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.menu-aside-block {
	    margin: 0 0px;
	}
}

.menu-myfavorite .menu-itemblock .menu-itemblock-ul {
    border-bottom: 0;
}
.menu-myfavorite .menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a{
	background-color: #fff;
	color: #e2231a;
	text-align: left;
}
.menu-myfavorite .menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a[aria-expanded="true"]{
	background-color: #fff;
	border: 0;
	color: #e2231a;
}
.menu-myfavorite .menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a:after{
	content: '';
	background-image: url('../img/_3 -empty.png');
	width: 16px;
	height: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 19px;
}
.menu-myfavorite .menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-titleblock a[aria-expanded="true"]:after{
	content: '';
	background-image: url('../img/_3.png');
	width: 16px;
	height: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 19px;
}
.menu-myfavorite .menu-itemblock .menu-itemblock-ul .menu-itemblock-ul-li .menu-contentblock {
    background-color: #fff5df;
}


.menu-aside-block .second-block .quicklist-block{
	display: none;
	padding-bottom: 50px;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-aside-block .second-block .menu-itemblock{
		display: block;
	}
	.menu-title .menu-aside-block .second-block .quicklist-block{
		display: block;
	}

}


.menu-aside-block .second-block .reserve-block{
	padding-bottom: 30px;
}
.menu-aside-block .second-block .reserve-block .reserve-btnsss{
	
}
.menu-aside-block .second-block .reserve-block .reserve-btnsss .reserve-btn{
	width: 154px;
	margin: 0px auto 30px auto;
	border-radius: 3px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  	border: solid 1px #d6d6d6;
  	text-align: center;
}
.menu-aside-block .second-block .reserve-block .reserve-btnsss .reserve-btn a{
	font-size: 15px;
  	line-height: 1.53;
  	letter-spacing: 1px;
  	color: rgba(0, 0, 0, 0.9);
  	padding: 8px 0;
  	display: block;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-aside-block .second-block .reserve-block{

	}
}


.menu-aside-block .second-block .faq-block{
	position: relative;
}
.menu-aside-block .second-block .faq-block .reserve-txtsss{
	width: 200px;
	margin: auto;
}
.menu-aside-block .second-block .faq-block .reserve-txtsss .reserve-txt{
	margin-bottom: 20px;
}
.menu-aside-block .second-block .faq-block .reserve-txtsss .reserve-txt:last-child{
	margin-bottom: 8px;
}
.menu-aside-block .second-block .faq-block .reserve-txtsss .reserve-txt p{
	margin-bottom: 0;
	margin-left: 18px;
	position: relative;
	font-size: 15px;
	line-height: 1.53;
  	letter-spacing: 1px;
  	color: rgba(0, 0, 0, 0.9);
  	text-align: left;
}
.menu-aside-block .second-block .faq-block .reserve-txtsss .reserve-txt p span{
	position: absolute;
	left: -18px;
}
.menu-aside-block .second-block .faq-block .seemore{
	width: 200px;
	margin: auto;
	text-align: right;
	display: block;
}
.menu-aside-block .second-block .faq-block .seemore a{
	color: #176ed4;
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.menu-aside-block .second-block .faq-block{
		font-size: 15px;
		color: #176ed4;
	}
}

.menu-aside-beforelogin-block{
	padding-top: 60px;
}
.menu-aside-beforelogin-block .rwd-nav-before-login .menu-title {
    background-color: #e2231a;
    padding: 0 25px;
}
.menu-aside-beforelogin-block .rwd-nav-before-login .menu-title a {
    color: #fff;
    padding: 18px 0;
    display: block;
    font-size: 16px;
    letter-spacing: 2.3px;
    text-decoration: none;
}






.meun-sub-redtitle{
	position: relative;
}
.meun-sub-redtitle .redtitle-txt{
	background-color: #fff;
	margin-bottom: 30px;
}
.meun-sub-redtitle .redtitle-txt:before{
	content: '';
	width: 64px;
    height: 1px;
    background-color: #eba6ae;
    bottom: 0;
    left: 20px;
    margin: auto;
    position: absolute;
    top: 0;
}

.meun-sub-redtitle .redtitle-txt:after{
	content: '';
	width: 64px;
    height: 1px;
    background-color: #eba6ae;
    bottom: 0;
    right: 20px;
    margin: auto;
    position: absolute;
    top: 0;
}
.meun-sub-redtitle .redtitle-txt p{
	width: 90px;
	font-size: 16px;
	letter-spacing: 2px;
  	text-align: center;
  	color: #e2231a;
  	background-color: #fff;
  	padding: 0 5px;
  	margin: 0 auto 0 auto;

}
/*.meun-sub-redtitle span.menu-redline{
	width: 210px;
    height: 1px;
    background-color: #eba6ae;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 0;
}*/


@media only screen and (min-width: 320px) and (max-width:1023px) {
	.Index-content .container-fluid{
		padding: 0;
	}
	.Index-content .col-md-9.left-content{
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.Index-content .col-md-3.right-menu{
		padding-left: 15px;
		padding-right: 15px;
	}
	.Index-content .col-md-9.mid-content{
		padding: 0;
		margin: auto;
		float: none;
		width: 100%;
	}
	.Index-content .col-md-9.skl-60-mid-content{
		padding: 0;
		margin: auto;
		float: none;
		width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.Index-content .col-md-9.skl-60-mid-content{
		margin: 0 24px;
		width: auto;
		padding: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width:767px) {
	.Index-content .col-md-9.skl-60-mid-content{
		margin: 0;
		width: auto;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.Index-content .col-md-9.left-content{
		padding-left: 0px;
		padding-right: 0px;
	}
	.Index-content .col-md-3.right-menu{
		padding-left: 0px;
		padding-right: 0px;
	}
}


.index-slider-block{
	/*border: 3px solid #000;*/
	max-width: 90%; 
	margin: auto;
}
.index-slider-block .acti-slider-item-top-img{
	left: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 215px;
    /*height: 173px;*/
}
.index-slider-block .skl-event-text {
    margin: 0% auto 0% auto;
    font-size: 15px;
	letter-spacing: 1px;
	color: #000;
	text-decoration: none;
	padding-bottom: 20px;
}
.index-slider-block .skl-event-title {
    font-size: 16px;
	letter-spacing: 1px;
    margin: 20px 0 8px 0;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.index-slider-block .ga-slider-prev{
	left: -30px;
	top: 30%;
}
.index-slider-block .ga-slider-next{
	right: -30px;
	top: 30%;
}

.fix-rightdown-block{
	position: fixed;
	right: 0;
	z-index: 1000;
}

.fix-activnews{
	
}
.fix-activnews .activnews-btn{
	padding: 0;
	left: -51px;
	text-decoration: none;
}
.fix-activnews .activnews-btn p{
	color: #fff;
    display: block;
    padding: 51px 16px 20px 16px;
    letter-spacing: 3px;
    font-size: 14px;
	background-color: #e2231a;
	-webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    margin-bottom: 0;
}
.fix-activnews .activnews-btn p:before{
	content: '';
	position: absolute;
	top: 24px;
	left: 16px;
	background-image: url('../img/star.png');
	width: 20px;
	height: 19px;
}
.fix-onlineservice{
	background-color: #fff; 
	/*border: 1px solid #00f;*/
}


.ga-mobile-menu-nav{
	padding: 0;
}
#rwd-right-menu.mm-menu.mm-offcanvas,
#rwd-left-menu.mm-menu.mm-offcanvas{
    background-color: #fff;
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
#rwd-right-menu .mm-navbar,
#rwd-left-menu .mm-navbar{
	border: 0;
}


.fix-onlineservice .onlineservice-btn{
	background-color: #7b868c;
    padding: 0;
    border-radius: 4px 0 0 4px;
    left: -51px;
    font-size: 0;
    width: 52px;
}
.onlineservice-btn a{
	color: #fff;
    /*display: inline-block;*/
    display: block;
    padding: 51px 3px 20px 16px;
    letter-spacing: 3px;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    /*-webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -ms-writing-mode: bt-rl;
    writing-mode: bt-rl;*/
}
.onlineservice-btn a p{
	-webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -ms-writing-mode: bt-rl;
    writing-mode: bt-rl;
    /*display: inline-block;*/
    display: block;
}
.onlineservice-btn a img{
	padding-left: 5px; 
}
p.iph-none{
	padding-top: 40px;
}
.onlineservice-btn a:before{
	content: '';
	position: absolute;
	top: 28px;
	left: 16px;
	background-image: url('../img/002.png');
	width: 19px;
	height: 16px;
}
.ga-helper.fix-onlineservice.active .onlineservice-btn a{
	background-color: #e2231a;
}
.ga-helper .ga-hidden.onlineservice-content{
	padding: 10px 0;
}
.onlineservice-content{
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
	width: 388px;
	height: 513px;
	background-color: #fff;
}
.onlineservice-content-block{
	width: 388px;
	background-color: #fff;
	padding: 0 35px;
}

.rwd-onlineservice{
	padding-bottom: 80px;
}
.onlineservice-down{

}
.onlineservice-down .onlineservice-down-select{
	font-size: 0;
	padding-bottom: 10px;
}
.onlineservice-down .onlineservice-down-select .txt{
	display: inline-block;
	vertical-align: top;
	padding-right: 23px;
}
.onlineservice-down .onlineservice-down-select .txt p{
	
}
.onlineservice-down .onlineservice-down-select .select-item{
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.onlineservice-down .onlineservice-down-select .select-item:after{
	content: '';
	width: 9px;
	height: 4px;
	position: absolute;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-right: 5px solid transparent;
    border-top: 5px solid #737373;
    border-left: 5px solid transparent;
}
.onlineservice-down .onlineservice-down-select .select-item select{
	width: 228px;
	line-height: 1.5em;
}
.onlineservice-down .onlineservice-down-input .txt{
	display: inline-block;
	vertical-align: top;
	padding-right: 23px;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
	.onlineservice-down .onlineservice-down-input .txt{
		display: inline-block;
		vertical-align: top;
		padding-right: 17px;
	}
}
.onlineservice-down .onlineservice-down-input .txt p{
	
}
.onlineservice-down .onlineservice-down-input {
	font-size: 0;
	padding-bottom: 10px;
}
.onlineservice-down .onlineservice-down-input .select-item{
	display: inline-block;
	vertical-align: top;
}
.onlineservice-down .onlineservice-down-input .select-item input{
	width: 228px;
}
.onlineservice-down .onlineservice-down-link{
	text-align: right;
}
.onlineservice-down .onlineservice-down-link a{
	font-size: 15px;
	color: #176ed4;
}
.onlineservice-down .onlineservice-down-twoblock{
	font-size: 0;
}
.onlineservice-down .onlineservice-down-twoblock .leftright{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: center;
}
.onlineservice-down .onlineservice-down-twoblock .leftright .onlinepic{
	background-color: #fff;
	width: 101px;
	height: 101px;
	border-radius: 50%;
	/*box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.16);*/
	position: relative;
	margin: auto;
}
.onlineservice-down .onlineservice-down-twoblock .leftright .onlinepic img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.onlineservice-down .onlineservice-down-twoblock .left{

}

.onlineservice-down .onlineservice-down-twoblock .right{

}
.onlineservice-down .onlineservice-down-twoblock .leftright .h4txt{
	padding-top: 10px;
	padding-bottom: 5px;
}
.onlineservice-rwdonly{
	width: 324px;
	margin: auto;
}
.onlineservice-rwdonly .onlineservice-content-block{
	width: 324px;
	padding: 0;
}

@media only screen and (min-width: 320px) and (max-width:768px) {
	.fix-rightdown-block{
		display: none;
	}
	.onlineservice-content{
		width: 100%;
		height: 513px;
	}
	.onlineservice-content-block{
		padding: 0 25px;
	}
	.onlineservice-rwdonly{
		width: 100%;
		margin: auto;
	}
	.onlineservice-rwdonly .onlineservice-content-block{
		width: 324px;
		margin: auto;
		padding: 0;
	}
	.onlineservice-rwdonly .onlineservice-content-block .onlineservice-down .onlineservice-down-select .txt{
		padding-right: 17px;
	}
	.onlineservice-rwdonly .onlineservice-content-block .onlineservice-down-link{
		padding-right: 20px;
	}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.onlineservice-rwdonly .onlineservice-content-block{
		width: 100%;
		max-width: 324px;
		margin: auto;
		padding: 0 0px;
	}
}




.before-banner{
	/*border: 1px solid #00f;*/
}
.before-banner img{
	
}
.before-banner .before-banner-bg{
	background-image: url('../img/0-PIC.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
}
.before-banner .before-banner-content{

}
.before-banner .before-banner-content .before-banner-content-top{
	width: 510px;
	margin-left: auto;
	margin-right: 24px;
	text-align: right;
}
.before-banner .before-banner-content .before-banner-content-top .title{
	text-align: left;
	padding-top: 55px;
}
.before-banner .before-banner-content .before-banner-content-top .title p{
	margin-bottom: 13px;
	font-size: 40px;
	letter-spacing: 1.3px;
 	color: #717171;
}
.before-banner .before-banner-content .before-banner-content-top .txt{
	text-align: left;
}
.before-banner .before-banner-content .before-banner-content-top .txt p{
	margin-bottom: 20px;
	font-size: 18px;
	letter-spacing: 2.6px;
  	color: #717171;
}
.before-banner .before-banner-content .before-banner-content-down{
	width: 530px;
	margin-left: auto;
	margin-right: 24px;
	text-align: right;
}
.before-right-login-block{
	border: 1px solid #d6d6d6;
}
@media only screen and (min-width: 1024px) and (max-width:1199px) {
	.before-banner .before-banner-content .before-banner-content-top{
		width: 510px;
		margin-left: auto;
		margin-right: 0px;
		text-align: right;
	}
	.before-banner .before-banner-content .before-banner-content-down{
		width: 530px;
		margin-left: auto;
		margin-right: 0px;
		text-align: right;
	}
}
@media only screen and (min-width: 320px) and (max-width:1023px) {

}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.before-banner .before-banner-bg{
		height: 260px;
	}
	.before-banner .before-banner-content .before-banner-content-top .title{
		padding-top: 35px;
	}
	.before-banner .before-banner-content .before-banner-content-top{
		width: 490px;
		margin-right: 15px;
	}
	.before-banner .before-banner-content .before-banner-content-down{
		width: 510px;
		margin-right: 15px;
	}
}
@media only screen and (min-width: 767px) and (max-width:768px) {
	

	
}
@media only screen and (min-width: 320px) and (max-width:767px) {

	.before-banner .before-banner-bg{
		background-image: none;
		background-color: #dcebdc;
		height: 168px;
	}
	.before-banner .before-banner-content .before-banner-content-top{
		width: auto;
		margin: 0 20px; 
	}
	.before-banner .before-banner-content .before-banner-content-top .title{
		padding-top: 15px;
	}
	.before-banner .before-banner-content .before-banner-content-top .title p{
		margin-bottom: 2px;
		font-size: 28px;
		letter-spacing: 0.9px;
	}
	.before-banner .before-banner-content .before-banner-content-top .txt{
		text-align: left;
	}
	.before-banner .before-banner-content .before-banner-content-top .txt p{
		margin-bottom: 5px;
		font-size: 14px;
		letter-spacing: 2px;
	}
	.before-banner .before-banner-content .before-banner-content-down .twobtn-3{

	}
	.before-banner .before-banner-content .before-banner-content-down .twobtn-3 a{
		width: 145px;
		padding: 8px 12px;
		margin: 6px 6px;
	}
	.before-banner .before-banner-content .before-banner-content-down{
		width: auto;
		margin: 0 0px;
	}
}






.before-bannericonbtn-block{
	
}
.before-bannericonbtn-block .before-bannericonbtn-ul{
	font-size: 0;
	padding: 0;
	margin-top: 15px;
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border-right: 1px dashed #d6d6d6; 
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li:last-child{
	border-right: 0; 
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a{
	
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .pic{
	
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .pic img{
	max-width: 132px;
	max-width: 132px;
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .txt{
	padding-top: 24px;
	padding-bottom: 5px;
}
.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .txt p{
	
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .pic img{
		max-width: 70px;
		max-width: 70px;
	}

}





.before-bannericonbtn-rwd{
	display: none;
}
@media only screen and (min-width: 320px) and (max-width:480px) {
	.before-bannericonbtn{
		display: none;
	}
	.before-bannericonbtn-rwd{
		display: block;
	}
	.before-bannericonbtn-rwd .before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li{
		width: 100%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		border-right: 0; 
		border-top: 1px dashed #d6d6d6; 
		padding: 18px 0;
	}
	.before-bannericonbtn-rwd .before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a{
		
	}
	.before-bannericonbtn-rwd .before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .pic{
		display: inline-block;
		vertical-align: top;
		width: 40%;
	}
	.before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .pic img{
		max-width: 70px;
		max-width: 70px;
	}
	.before-bannericonbtn-rwd .before-bannericonbtn-block .before-bannericonbtn-ul .before-bannericonbtn-li a .txt{
		display: inline-block;
		vertical-align: top;
		padding-top: 24px;
		padding-bottom: 5px;
		width: 60%;
		text-align: left;
	}
}




.before-right-login-block{
	
}
@media only screen and (min-width: 481px) and (max-width:768px) {
	.before-right-login-block{
		width: 450px;
		margin: auto;
	}
}
.before-right-login-block.active{
	border: 1px solid #e2231a;
}
.before-right-login-block .login-title{
	text-align: center;
	color: #000;
	padding: 20px 0;
	width: 270px;
    margin: auto;
}
.before-right-login-block .login-title p{
	font-size: 23px;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.before-right-login-block .login-radio-input{
	width: 270px;
	margin: auto;
}
.before-right-login-block .login-radio-input .login-radio{
	font-size: 0;
	margin-bottom: 10px;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline{
	padding-left: 0;
	width: 50%;
	margin-left: 0;
	margin-bottom: 10px;
}
.before-right-login-block .login-radio-input .login-radio .first-radio{
	padding-left: 0;
	width: 42%;
	margin-left: 0;
}
.before-right-login-block .login-radio-input .login-radio .second-radio{
	padding-left: 0;
	width: 58%;
	margin-left: 0;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline input[type="radio"]{
	display: none;
}

.before-right-login-block .login-radio-input .login-radio .radio-inline label{
	display: inline-block;
	vertical-align: top;
	padding-right: 8px;
	margin-bottom: 0;
	position: absolute;
	width: 100%;
	top: -2px;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline label span.cusradio-sty{
	width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    border: solid 1px #d8d8d8;
    border-radius: 50%;
    background-color: #fff;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline label span.cusradio-sty:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 16px;
    height: 16px;
	background-color: #e2231a;
	border-radius: 50%;
	display: none;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline input[type='radio']:checked + label span.cusradio-sty{
    /*background-image: url(../img/radio-btn-checked.png);*/
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-position: center;
    border: 1px solid #e2231a;
}
.before-right-login-block .login-radio-input .login-radio .radio-inline input[type='radio']:checked + label span.cusradio-sty:after{
    display: block;
}

.before-right-login-block .login-radio-input .login-radio .radio-inline p{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 0;
	padding-left: 35px;
}


.before-right-login-block .login-radio-input .login-input{
	
}
.before-right-login-block .login-radio-input .login-input .login-input-custom{
	margin-bottom: 10px;
	padding: 13px 15px;
	height: 50px;
	border-radius: 0;
	font-size: 16px;
}



.before-right-login-block .login-btn{
	width: 270px;
    margin: auto;
}
.before-right-login-block .login-btn .twobtn-1{
	padding: 0 0 0px 0;
}
.before-right-login-block .login-btn .twobtn-1 a{
	margin: 10px 0px;
	text-decoration: none;
}

.before-right-login-block .login-qa{
	width: 270px;
    margin: auto;
}
.before-right-login-block .login-qa .login-qa-ul{
	padding: 0;
	margin-left: 30px;
}
.before-right-login-block .login-qa .login-qa-ul-li{
	
}
.before-right-login-block .login-qa .login-qa-ul-li a{
	font-size: 15px;
	line-height: 1.67;
	color: #176ed4;
}

.favohintfade{
	/*border: 1px solid #00f;*/
	position: absolute;
	top: 38px;
	left: -40px;
	background-color: #fff;
	width: 210px;
	text-align: left;
	padding: 20px;
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
}
.favohintfade .txttop{

}
.favohintfade .txtdown{

}

.new-activities-collapse-block{
	max-width: 1200px;
	margin: auto;
	position: relative;
}
.new-activities-collapse-block .panel-body{
	padding: 0;
}
.new-activities-collapse-block .panel-group{
	margin-bottom: 0;
}
.new-activities-collapse-block .panel-group .panel{
	box-shadow: none;
	border: 0;
}
.new-activities-collapse-block .panel-group .panel .panel-heading{
	background-color: transparent;
	background-image: none; 
	position: absolute;
	right: 10px;
	top: 18px;
	width: 23px;
	padding: 0;
}

@media only screen and (min-width: 320px) and (max-width:768px) {
	.new-activities-collapse-block .panel-group .panel .panel-heading{
		right: 23px;
	}
}



.new-activities{
	font-size: 0;
	padding: 13px 0;
}
.new-activities .activities-title-block{
	display: inline-block;
	vertical-align: top;
	width: 17%;
}
.new-activities .activities-title-block .index-title{
	padding-top: 23px;
	width: 200px;
	margin: auto;
}
.new-activities .activities-items-block{
	display: inline-block;
	vertical-align: top;
	width: 83%;
	padding-right: 50px;
}
.activities-items-ul{
	padding-left: 0;
	margin-bottom: 0;
}
.activities-items-ul .items-li{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	border-left: 1px dashed #d6d6d6;
	padding-left: 10px;
	padding-right: 33px;
	padding-top: 6px;
	padding-bottom: 14px;
}
.activities-items-ul .items-li .pho{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	max-width: 68px;
	max-height: 68px;
}
.activities-items-ul .items-li .pho img{
	max-width: 68px;
	max-height: 68px;
	width: 100%;
}
.activities-items-ul .items-li .txt{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	padding-left: 16px;
}
.activities-items-ul .items-li .txt .top{

}
.activities-items-ul .items-li .txt .top p{
	font-size: 16px;
	margin-bottom: 0;
}
.activities-items-ul .items-li .txt .bottom{
	text-align: right;
	padding-top: 2px;
}
.activities-items-ul .items-li .txt .bottom a{
	font-size: 15px;
	color: #176ed4;
}

@media only screen and (min-width: 320px) and (max-width:1024px) {
	.new-activities .activities-title-block{
		width: 15%;
	}
	.new-activities .activities-items-block{
		width: 85%;
		padding-right: 35px;
	}
	.activities-items-ul .items-li{
		padding-right: 8px;
		border-left: 1px dashed #d6d6d6;

	}
	.activities-items-ul .items-li .txt{
		padding-left: 5px;
	}
}
@media only screen and (min-width: 320px) and (max-width:768px) {
	.new-activities{
		padding: 20px 0;
	}
	.new-activities .activities-title-block{
		width: 100%;
	}
	.new-activities .activities-title-block .index-title{
		padding-top: 18px;
	}
	.new-activities .activities-items-block{
		width: 100%;
		padding-right: 0;
		padding-top: 10px;
	}
	.activities-items-ul .items-li{
		padding-right: 15px;
	}
	.activities-items-ul .items-li:first-child{
		border: 0;
	}
	.activities-items-ul .items-li .pho{
		width: 20%;
		max-width: 50px;
		max-height: 50px;
	}
	.activities-items-ul .items-li .pho img{
		max-width: 50px;
		max-height: 50px;
	}
	.activities-items-ul .items-li .txt{
		width: 80%;
	}
}
@media only screen and (min-width: 320px) and (max-width:767px) {
	.new-activities{
		padding: 10px 0;
	}
	.new-activities .activities-items-block{
		padding-right: 10px;
		padding-left: 10px;
	}
	.activities-items-ul .items-li{
		width: 100%;
		border-left: 0;
		border-top: 1px dashed #d6d6d6;
		padding-left: 0;
		padding-right: 0;
	}
	.activities-items-ul .items-li .pho{
		width: 15%;
		max-width: none;
		max-height: none;
	}
	.activities-items-ul .items-li .txt{
		padding-left: 10px;
		width: 85%;
	}
	.activities-items-ul .items-li .txt .top{
		display: inline-block;
		vertical-align: bottom;
		width: 65%;
	}
	.activities-items-ul .items-li .txt .bottom{
		display: inline-block;
		vertical-align: bottom;
		width: 35%;
	}
}
@media only screen and (min-width: 320px) and (max-width:345px) {
	.new-activities .activities-items-block {
	    padding-right: 5px;
	    padding-left: 5px;
	}
	.activities-items-ul .items-li .txt{
		padding-left: 0px;
		width: 85%;
	}
}



/*****************************************************************************************/
/*IE10.11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/*.selector { 
		property:value; 
	}*/
	.onlineservice-down .onlineservice-down-select .select-item:after{
	    display: none;
	}
	.onlineservice-btn a{
	    padding: 51px 16px 20px 16px;
	}
	.onlineservice-btn a img{
		padding-left: 8px; 
	}
	.onlineservice-btn a p{
	    display: inline-block;
	    writing-mode: vertical-lr;
	}

}
/*IE9*/
@media screen and (min-width:0\0) {
    /*select {
        background-image:none\9;
        padding: 5px\9;
    } */
    .onlineservice-down .onlineservice-down-select .select-item:after{
	    display: none\9;
	}
	.onlineservice-btn a{
	    padding: 51px 16px 20px 16px;
	}
	.onlineservice-btn a img{
		padding-left: 8px; 
	}
	.onlineservice-btn a p{
	    display: inline-block;
	    writing-mode: inherit;
	    writing-mode: initial;
	}
}

