.skl-calendar-container {
    padding: 0 5px;
    overflow: hidden;
}

/* calendar slider */
.skl-calendar-graph .skl-calendar-slider {
    width: 100%;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-slider {
    padding: 0;
    margin: 0;
    display: block;
}

.skl-calendar-graph .skl-calendar-slider-container .ga-slider-container {
    display: none;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-slider .skl-calendar-slider-item {
    display: inline-block;
    padding: 0;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item,
.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item:hover {
    padding: 0;
    color: #000;
    text-decoration: none;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-year {
    height: 20px;
    text-align: center;
    margin: 9px 0 3px 0;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-year p {
    margin-bottom: 0;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item {
    min-height: 40px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 5px 0;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-month {
	position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-month p {
	position: absolute;
    top: 5px;
    left: 7px;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item.active .skl-calendar-month-item .skl-calendar-month {
    border-radius: 50%;
    background-color: #323232;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item.active .skl-calendar-month-item .skl-calendar-month p {
	color: white;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-dot {
    height: 20px;
    text-align: center;
    background-color: #f2f2f2;
    position: relative;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-dot.active:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #4990e2;
    border-radius: 50%;
    margin: auto;
    line-height: 20px;
    left: 45%;
	top: 9px;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-money {
    font-size: 12px;
    color: #ea8a86;
    /*color: #e2231a;
    opacity: .5;*/
    max-width: 70px;
    margin: auto;
    word-wrap: break-word;
    text-align: center;
    display: none;
}

.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item.active .skl-calendar-month-item .skl-calendar-money {
	/*opacity: 1;*/
	color: #e2231a;
}

.skl-calendar-graph .skl-calendar-chart {
    position: relative;
    left: -25px;
}

.canvasjs-chart-credit {
    display: none !important;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {

	.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-slider {
	    display: none;
	}

	.skl-calendar-graph .skl-calendar-slider-container .ga-slider-container {
	    display: block;
	}

	.skl-calendar-graph .skl-calendar-slider-container .ga-slider-container[isFull="false"] .owl-carousel {
	    max-width: 100%;
	}

	.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item {
    	min-height: 95px;
    }

	.skl-calendar-graph .skl-calendar-slider-container .skl-calendar-item .skl-calendar-month-item .skl-calendar-money {
	    display: block;
	}

	.skl-calendar-graph .skl-calendar-chart {
	    display: none;
	}
}



/* detail slider */
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] {
    border: solid 1px #d6d6d6;
    background-color: #fff;
    position: relative;
    height: 195px;
    padding: 21px 0;
    display: block;
}

.skl-calendar-detail-container .skl-calendar-detail-container-sm {
	display: none;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block {
    width: 175px;
    height: 149px;
    text-align: center;
    border-right: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 0 10px;
    position: absolute;
    left: 0;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title p.skl-detail-title-month {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title p.skl-detail-title-month span {
    font-size: 32px;
    letter-spacing: 1.4px;
    color: #000;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title p.skl-detail-title-txt {
    font-size: 15px;
    line-height: 1.53;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 15px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-other {
    text-align: center;
    border-radius: 84px;
    border: solid 1px #cccccc;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-other a {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px;
    display: block;
    color: #000;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block {
    margin-left: 175px;
    padding: 0 20px;
    height: 100%;
    position: relative;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-detail-none-txt {
    height: 100%;
    padding-left: 25px;
    display: none;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-detail-none-txt.active {
    display: block;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-detail-none-txt p {
    font-size: 15px;
    line-height: 1.53;
    letter-spacing: 1px;
    color: #000;
    display: inline;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-detail-none-txt p:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-container {
    display: none;
    overflow: hidden;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-container.active {
    display: block;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider {
    padding: 0;
    font-size: 0;
    margin-bottom: 0;
    width: 200%;
    position: relative;
}

.skl-calendar-detail-container .skl-calendar-detail-container-lg[class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider {
    height: 150px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider .skl-calendar-detail-slider-item {
    position: relative;
    width: 264px;
    display: inline-block;
    vertical-align: top;
}
@media only screen and (min-width: 768px) and (max-width:768px) {
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider .skl-calendar-detail-slider-item {
        width: 212px;
    }
}
.skl-calendar-detail-container .skl-calendar-detail-container-lg[class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider .skl-calendar-detail-slider-item {
    position: absolute;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content {
    padding-left: 10px;
    height: 150px;
    border-right: 1px solid #d6d6d6;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date {
    display: inline-block;
    vertical-align: top;
    width: 27%;
}

@media only screen and (min-width: 768px) and (max-width:768px) {
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date {
        width: 30%;
    }
}
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    line-height: 20px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date-notice {
    display: inline-block;
    vertical-align: top;
    width: 73%;
    padding-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width:768px) {
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date-notice {
        width: 70%;
        padding-left: 15px;
    }
}
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date-notice p {
    padding-top: 3px;
    margin-bottom: 0;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-container .skl-calendar-detail-content {
    margin-bottom: 20px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-container .skl-calendar-detail-money {
    padding-right: 15px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-item-content .skl-calendar-detail-container .skl-calendar-detail-money p span {
    font-size: 18px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev,
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next {
    display: none;
    width: 20px;
    height: 62px;
    background-color: #7b868c;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev.active,
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next.active {
    display: block;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev {
    left: -8px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next {
    right: -8px;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev:before,
.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7px;
    height: 10px;
    margin: auto;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev:before {
    border-right: 6px solid #fff;
}

.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next:before {
    border-left: 6px solid #fff;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-container.active {
        overflow-x: scroll;
    }

    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev,
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev.active,
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next,
    .skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next.active {
        /*display: none;*/
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] {
	    height: auto;
	    padding: 20px 0;
	    border: 0;
	    display: block;
	}

	.skl-calendar-detail-container .skl-calendar-detail-container-lg {
		display: none;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block {
	    position: relative;
	    width: 100%;
	    border-right: 0;
	    height: auto;
	    font-size: 0;
	    padding: 0;
	    border-bottom: 1px solid #d6d6d6;
	    padding-bottom: 10px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title {
	    width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    margin-right: 9%;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title p.skl-detail-title-month {
	    display: inline-block;
	    vertical-align: bottom;
        margin-bottom: 0;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-title p.skl-detail-title-txt {
	    display: inline-block;
	    vertical-align: top;
	    padding-top: 10px;
	    padding-left: 3px;
        margin-bottom: 0;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-title-block .skl-detail-other {
	    width: 41%;
	    display: inline-block;
	    vertical-align: top;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block {
	    padding: 0 0px;
	    margin-left: 0;
	    width: 100%;
	    position: relative;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-slider,
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-slider .skl-calendar-detail-slider-item,
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date {
	    width: 100%;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content {
	    border-right: 0;
	    padding: 10px 8px;
	    font-size: 0;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content {
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	    border-bottom: 1px solid #d6d6d6;
	    height: auto;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-date-container {
	    display: inline-block;
	    vertical-align: top;
	    width: 27%;
	    text-align: center;
	    padding-right: 10px;
	    padding-top: 3px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date p {
	    margin-bottom: 10px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-date-container .skl-calendar-detail-date-notice {
	    width: 100%;
	    padding-left: 0px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-container {
	    display: inline-block;
	    vertical-align: top;
	    width: 73%;
	    padding-left: 10px;
	    padding-top: 3px;
	    border-left: 1px solid #d6d6d6;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-container .skl-calendar-detail-content {
	    margin-bottom: 10px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content .skl-calendar-detail-container .skl-calendar-detail-money {
	    padding-right: 0px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev,
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next {
	    display: none;
	    width: 62px;
	    height: 20px;
	    background-color: #7b868c;
	    top: auto;
	    left: 0;
	    right: 0;
	    bottom: -20px;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev:before,
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 7px;
	    height: 5px;
	    margin: auto;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-prev:before {
	    bottom: 5px;
	    border-bottom: 6px solid #fff;
	}

	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block .skl-calendar-detail-slider-next:before {
	    bottom: -8px;
	    border-top: 6px solid #fff;
	}
}

@media only screen and (max-width: 345px) and (min-width: 320px){
	.skl-calendar-detail-container [class^="skl-calendar-detail-container-"] .skl-calendar-detail-slider-block  .skl-calendar-detail-item-content {
	    padding: 10px 0px;
	}
}



/* detail notice block */
.skl-calendar-detail-notice-block {
    font-size: 0;
    margin-bottom: 30px;
    margin-top: 3px;
}

.skl-calendar-detail-notice-block .skl-calendar-detail-notice-legend {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.skl-calendar-detail-notice-block .skl-calendar-detail-notice-legend .skl-calendar-detail-notice-dot-txt p {
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.9px;
    color: #000;
    position: relative;
    padding-left: 18px;
    margin-bottom: 0;
}

.skl-calendar-detail-notice-block .skl-calendar-detail-notice-legend .skl-calendar-detail-notice-dot-txt p:before {
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
    width: 7px;
    height: 7px;
    background-color: #4990e2;
}

.skl-calendar-detail-notice-block .skl-calendar-detail-notice-txt {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    padding-left: 40px;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.skl-calendar-detail-notice-block .skl-calendar-detail-notice-legend,
	.skl-calendar-detail-notice-block .skl-calendar-detail-notice-txt {
	    width: 100%;
	    padding-left: 0;
	}
}